/*reset*/
* {
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


figure>img {
    width: 100%;
}


/*layout*/
.parent {

    /* Positioning */
    /* Display & Box Model */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 12fr 1fr;
    /* Color */
    /* Text */
    /* Other */
}


/*direct childreen of parent container*/
.header-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* Positioning */
    /* Display & Box Model */
    border: 1px solid red;
    /* Color */
    background:white;
    /* Text */
    /* Other */
}

.content {
    /* display: grid;


    grid-gap: 20px;
    grid-template-columns: 2fr 12fr 2fr;
    grid-auto-rows: 500px; */

}

.header-grid{
    grid-column: 2/3;
    border:3px solid pink;

}

.header-grid>h1 {

    grid-column: 2/3;
}

.header-grid>.head-fig {
    grid-column: 1/2;
    border:3px solid pink;

}


.content {

/* grid-column: 2/2; */
     /* display:grid; 
    grid-template-columns: 1fr 12fr 1fr;  */
    /* width: 50%; 
     margin: auto 0; */
    border: 1px solid red;

    line-height: 1.875rem;
}

.sb-top-right {}

.theory-article {}

.sb-bottom-right {}

.foot-nav-bottom {}


/*children of sb-top-right*/

.img-sb-top {
    width: 20%;
    height: 10%;
}




nav {
    margin: 10px;
}


.mini-grid>figure>img {
    display: block;
    max-width: 100%;
    height: 60%;
}

.grid-4>figure>img {
    display: block;
    max-width: 100%;
}

.grid-4 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 300px);
}

.mini-grid>figure figcaption {
    text-align: center;
    font-size: 12px;
}

.mini-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 200px);

}




h1 {
    text-align: center;

}

.left {
    width: 200px;
    display: flex;
    justify-content: space-between;

}

main {
    border: 1px solid green;
    grid-column: 2/4;

}

.sb-main {
    border: 1px solid red;
}

article {
    border: 1px solid green;

}

.sb-bottom {
    border: 1px solid red;

}

footer {
    border: 1px solid green;

}

/*flex*/

.flex-space {
    display: flex;
    justify-content: space-between;
}